* {
    font-family: 'Inter', sans-serif;
}

p {
    margin-bottom: 0px;
}

.navbar {
    margin-top: 1rem;
    margin-bottom: 4rem;
    justify-content: flex-start;
}

.brand {
    margin-left: 2rem;
    margin-right: 1rem;
    padding: 1em;
    color: black;
    text-decoration: none;
    background-color: #e8a4e4;
    padding-inline: 3rem;
    border-radius: 3rem;
}

.brand:hover, .brand:visited {
    color: black;
    text-decoration: none;
}

.nav-register, .nav-login, .nav-logout {
    color: black;
    text-decoration: none;
    margin-inline: 0.5rem;
}

.container {
    height: 3rem;
    font-size: 20px;
    justify-self: center;
    justify-content: center !important;
    width: 18rem;
    background-color: #BA4FB3;
    border-radius: 2rem;
}

.content-group {
    justify-self: center;
    justify-content: space-around;
    margin-inline: 23em;
    border-radius: 40px;
    border: 1px solid;
    padding: 3rem;
    padding-inline: 6rem;
    border-color: rgba(112, 112, 112, .2);
}

.content {
    border: 1px solid #BA4FB3;
    border-radius: 40px;
    width: auto;
    font-size: 30px;
    text-decoration: none;
    color: #BA4FB3;
    display: block;
    text-align: center;
    padding: 2rem;
    padding-inline: 3rem;
    margin-block: 2rem;
    transition: background-color 1s;
}

.content:hover, .content:visited {
    color: #BA4FB3;
    background-color: rgba(189, 79, 179, .2);
    cursor: pointer;
}

.first {
    margin-bottom: 2rem;
}

.search-group {
    display: flex;
    flex-direction: column;
}

.search-form {
    align-self: center;
}

.add {
    text-align: center;
    margin-bottom: 2rem;
}

.name {
    border: 1px solid;
    border-color: rgba(112, 112, 112, .2);
    border-radius: 50px;
    padding: 13px;
    padding-left: 2rem;
    width: 50rem;
    margin-bottom: 1rem;
    background-color: rgba(189, 79, 179, .2);
}

.name:focus {
    outline: none;
}

.submit {
    border-radius: 50px;
    display: block;
    color: white;
    border: 1px solid;
    align-self: center;
    border-color: rgba(112, 112, 112, .2);
    background-color: #BA4FB3;
    padding: 6px;
    padding-inline: 1rem;
    margin-inline: auto;
}

img {
    margin: auto;
    block-size: 12rem;
    border-radius: 1rem;
}

.anime-desc {
    opacity: 65%;
    line-height: 1.2em;
}

.anime-img {
    margin-bottom: 10px;
}

.score-episodes {
    font-size: 15px;
    text-align: center;
}

.alert {
    margin-bottom: 0px !important;
}

.about {
    font-size: larger;
    font-weight: bold;
}

.about-group {
    margin-bottom: 1em;
}

.searched-item-body {
    justify-content: space-between;
}

.add-buttons {
    display: flex;
    align-self: center;
    align-items: center;
}

.add-watching {
    margin-inline: 10px;
    width: 11rem;
    padding: 8px;
    color: white;
    border: 1px solid;
    border-color: rgba(112, 112, 112, .2);
    background: #BA4FB3;
    border-radius: 2rem;
    transition: background-color .2s;
}

.add-favourite {
    margin-inline: 10px;
    width: 11rem;
    padding: 8px;
    color: white;
    border: 1px solid;
    border-color: rgba(112, 112, 112, .2);
    background: #dc3545c9;
    border-radius: 2rem;
    transition: background-color .2s;
}

.add-watching:hover {
    background-color: #9f4199;
}

.add-watching > span {
    color: white;
}

.add-watched {
    margin-inline: 10px;
    width: 11rem;
    color: rgb(186 79 179);
    padding: 8px;
    border: 1px solid;
    background-color: white;
    border-color: rgb(186 79 179);
    border-radius: 2rem;
    transition: background-color .2s;
}

.add-watched:hover {
    background-color: #fee1fc;
}

.form {
    width: 35rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    border: 1px solid;
    border-color: rgb(139 139 139 / 26%);
    border-radius: 4rem;
    padding: 5rem;
    gap: 1rem;
}

.login-details {
    justify-items: center;
    display: grid;
}

#username-group, #password-group {
    margin-bottom: 1em;
}

#username, #password {
    border: none;
    width: 15rem;
}

#username:focus, #password:focus {
    border: none;
    outline: none;
}

.text-line {
    border-bottom: 1px solid gray;
}

#submit {
    width: 7rem;
    margin-top: 1rem;
    border-radius: 3rem;
    padding: 0.5em;
    background-color: #f0d0ee;
    border: 1px solid #c9c9c9;
    transition: background-color 1s;
    margin-bottom: 1em;
}

#submit:hover {
    background-color: #e8a4e4;
}

#register {
    width: 7rem;
    margin: auto;
    border-radius: 3rem;
    padding: 0.5em;
    background-color: white;
    border: 1px solid #BA4FB3;
    color: #BA4FB3;
    margin-top: 0.5em;
    transition: background-color 1s, color 1s;
}

#register:hover {
    background-color: #f0d0ee;
    color: black;
}

.register-group {
    justify-items: center;
}

.searched-group {
    justify-items: center;
    align-items: center;
    margin-inline: 25rem;
    gap: 1rem;
}

.searched-item {
    border: 1px solid;
    border-radius: 40px;
    border-color: rgba(112, 112, 112, .2);
    padding: 2rem;
    gap: 2rem;
    width: 100%;
}

.watched-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 40px;
    border-color: rgba(112, 112, 112, .2);
    padding-inline: 2rem;
    padding-block: 1rem;
    width: 100%;
    text-align: center;
}

.btn-delete {
    width: 6rem;
    color: rgb(255 89 89);
    padding: 8px;
    border: none;
    border-radius: 2rem;
}