{% extends 'base.html' %}

{% block title %}
animeee – Watching
{% endblock %}

{% block main %}

<div class="searched-group d-flex flex-column">
    <h2 class="watching">Watching</h2>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-warning w-75 text-center">{{ message }}</div>
    {% endfor %}
    {% endwith %}
    
    {% for watching in watchingList %}
    <div class="watched-item">
        <span style="font-size: large">{{ watching.title }}</span>
        <form action="/delete">
            <input name="delete" value="watching" type="hidden">
            <input name="title" value="{{ watching.title }}" type="hidden">
            <button type="submit" class="btn-delete"
                style="display: inline">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}